.footer {
    background-color: rgb(34, 78, 23);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 190px;
  }
  .footerimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .footericon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
  
  }
  
.footertexto {
    text-align: center;
  }  