body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 40%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  justify-content: center;
  place-items: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  gap: 25px;
  padding: 28px;
  
}



.ul {
  display: flex;
}

.ul li {
  margin: 0 10px;
  list-style: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.img {
  height: 40px;
}

.logo {
  height: 100%;
}

.foto {
  width: 100%;
  height: 300px;
  background: url("/imgs/fundo.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  position: relative;
}

.item {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(34, 78, 23);
  text-align: center;


}

.item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.item h5 {
  margin: 10px 0 5px;
  font-size: 18px;
  color: white
}

.item .preço {
  font-size: 16px;
  font-weight: bold;
  color: rgb(46, 43, 49);
  margin-bottom: 10px;
}

.footerimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.footerimg img {
  height: 50px;
  width: auto;
}

.footertexto {
  text-align: center;
}

@media (min-width: 1024px) {
  .container {
      grid-template-columns: repeat(3, 1fr); 
      

  }

  .item {
      width: 160px;
      border-radius: 10px;
      text-align: center;
      background-color:  rgb(34, 78, 23);

  }

}

.fototexto {
  font-size: 25px;
  color: white;
  margin: 0 30px 30px 0;
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Jaro", sans-serif;
}

.footericon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;

}

.footericon img {
  height: 95%;
  width: auto;
  padding: 15px;
}
.baner{
  width: 100vw;
}